:root {
  --gap-1: 1.0rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-weight: normal;
}

.demo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "md html"
    "bib ast";
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: var(--gap-1);
}

.demo .input-markdown {
  display: block;
  grid-area: md;
}

.demo .input-bibtex {
  display: block;
  grid-area: bib;
}

.demo .result-html {
  grid-area: html;
  padding: var(--gap-1);
  background-color: #eef8ff;
}

.demo .result-ast {
  grid-area: ast;
  padding: var(--gap-1);
  background-color: #eef8ff;
  border: 1px solid blue;

  overflow-y: scroll;
  overflow-x: hidden;
}