:root {
  --gap-1: 1.0rem;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif; 
  font-weight: normal;
}

.content {
  margin: 0 auto;
  max-width: 640px;
}

.input-markdown, .input-bibtex {
  display: block;
  width: 100%;
  min-height: 16em;
}

.result {
  margin: 32px 0;
  padding: 16px;
  font-size: 1.1em;
  
  border: 1px solid rgb(255, 153, 95);
  box-shadow: 4px 4px 0px rgb(255, 196, 161);
  background-color: rgb(255, 238, 231);

  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
}

.result {
  color: rgb(132, 49, 0);
  line-height: 1.4em;
}

.result h1, .result h2, .result h3 {
  color: rgb(168, 62, 0)
}


.katex { line-height: 1.0 !important; }
/* 
.demo {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  grid-template-areas:
    "md html"
    "bib ast";
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: var(--gap-1);
}

.demo .input-markdown {
  display: block;
  grid-area: md;
}

.demo .input-bibtex {
  display: block;
  grid-area: bib;
}

.demo .result-html {
  grid-area: html;
  padding: var(--gap-1);
  background-color: #eef8ff;
  overflow-y: auto;
}

.demo .result-ast {
  grid-area: ast;
  padding: var(--gap-1);
  background-color: #eef8ff;
  border: 1px solid blue;

  overflow-y: scroll;
  overflow-x: hidden;
} */